* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-image: url("https://images.unsplash.com/photo-1491466424936-e304919aada7?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px 50px;
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(234, 234, 6);
}

.heading svg {
    width: 40px;
    color: rgb(234, 234, 6);
}

.todoList {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.add-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.add-box input {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(223, 227, 231);
    width: 400px;
    height: 41.7px;
    border-radius: 50px;
    font-size: 18px;
    padding: 0 95px 0 20px;
}

.add-box button {
    border: 1px solid rgba(0, 0, 0, 0.611);
    background-color: orangered;
    border-radius: 50px;
    padding: 4.5px 25px;
    position: absolute;
    right: 0px;
    font-size: 18px;
}

.add-box button:active {
    background-color: rgb(241, 121, 77);
}

.notes .add-notes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    height: 70vh;
    overflow: hidden auto;
}

.notes .add-notes p {
    border: 2px solid black;
    padding: 15px 30px 15px 10px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.add-notes .Empty-div::before {
    content: "Empty";
    font-size: 200px;
    font-weight: 600;
    color: rgb(190, 215, 237);
    display: flex;
    justify-content: center;
    align-content: center;
}

@media only screen and (max-width:900px) {
    .add-notes .Empty-div::before {
        font-size: 150px;
    }

    .notes {
        gap: 50px;
    }

    .heading h1 {
        font-size: 27px;
    }

    .heading svg {
        width: 30px;
    }

    .add-box input {
        height: 40.7px;
    }

    .notes .add-notes {
        height: 60vh;
    }
}

@media only screen and (max-width:600px) {
    .add-notes .Empty-div::before {
        font-size: 130px;
    }

    .add-box input {
        width: 340px;
    }
}

@media only screen and (max-width:520px) {
    .add-notes .Empty-div::before {
        font-size: 120px;
    }

    .add-box input {
        height: 37px;
    }
}

@media only screen and (max-width:485px) {
    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-notes .Empty-div::before {
        font-size: 100px;
    }

    .add-box input {
        width: 295px;
    }

    .add-box button {
        padding: 4px 25px;
    }

    .notes {
        padding: 45px 20px;
    }

    .notes .add-notes {
        height: 55vh;
    }
}

@media only screen and (max-width:400px) {
    .notes .add-notes p {
        font-weight: 600;
        font-size: 18px;
    }
}

@media only screen and (max-width:370px) {
    .add-notes .Empty-div::before {
        font-size: 80px;
    }

    .add-box input {
        width: 250px;
        font-size: 16px;
    }

    .add-box button {
        padding: 4px 15px;
        font-size: 16px;
    }
}

@media only screen and (max-width:300px) {
    .add-notes .Empty-div::before {
        font-size: 60px;
    }

    .add-box input {
        width: 215px;
        font-size: 14px;
    }

    .add-box button {
        padding: 4px 15px;
    }
}